# Arquivos de log
*.log
*.txt

# Arquivos de dump do banco de dados
*.dump
*.list

# Arquivos de ambiente
.env

# Scripts temporários (se não quiser versioná-los)
# temp_db_test.ps1
# compare_databases.ps1
# test-network-connectivity.ps1

# Node modules
node_modules

# Vite
.vite/
dist/
